@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lora:ital,wght@0,400..700;1,400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fascinate&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap");
@tailwind base;
@tailwind components; 
@tailwind utilities; 

html {
    scroll-behavior: smooth;
  }

@keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .rotating-button {
    animation: spin 4s linear infinite;
  }


@layer utilities {
    .nav-feature {
        @apply hover:text-yellow-600 duration-200 text-lg font-subtext-heebo
    }

    .review-card {
        @apply p-6 bg-elementyellow rounded-lg shadow-lg flex flex-col items-center hover:shadow-xl duration-300
    }
}